@use "./variables" as var;

%title__90__white{
    color: var.$white-color;
    font-size: 90px;
    font-weight: 700;
    line-height: 130%;
    font-family: 'M PLUS Rounded 1c';
    letter-spacing: 3.6px;
    text-transform: capitalize;
}

%title__64__black{
    color: var.$subtitle-color;
    font-size: 64px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}

%title__48__white{
    color: var.$white-color;
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: capitalize;
}

%title__48__black{
    color: var.$subtitle-color;
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: capitalize;
}

%title__48__primary{
    color: var.$primary-color;
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.44px;
    text-transform: capitalize;
}

%title__38__black{
    color: #000;
    font-size: 38px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.14px;
    text-transform: capitalize;
}

%title__38__white{
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1.14px;
    text-transform: capitalize;
}

%title__32__black{
    color: var.$white-color;
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
}

%title__24__white{
    color: var.$white-color;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

%title__24__primary{
    color: var.$primary-color;
    font-size: 24px;
    font-weight: 700;
}

%title__24__black{
    color: var.$subtitle-color;
    font-size: 22px;
    font-weight: 600;
    line-height: 34px;
}

%title__20__black{
    color: var.$subtitle-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

%title__16__white{
    color: var.$white-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
}

%title__16__primary{
    color: var.$primary-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;
}

%title__16__black{
    color: var.$subtitle-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}

%title__16__text{
    color: var.$text-color;
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}

%title__14__black{
    color: var.$text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}



