$primary-font:'M PLUS Rounded 1c', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$tertiary-font:'Edu SA Beginner', cursive;
$primary-color: #BB2339;
$white-color:#fff;
$text-color:#AAA;
$subtitle-color:#242424;
$secondary-bg-color:#F8F8F8;
$primary-bg-color:#F4F4F4;
$border-color:#646464;
